<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nizlumina.com.frostmodule.frostmodule" >
    <application>
        <service
            android:name="nizlumina.com.frostmodule.TorrentService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>
</manifest>
